/* SLIDESHOW - START*/
/* Slideshow container */
.slideshow_container, .slideshow_container_historical {
	width: 60%;
	height: 350px;
	margin: 0 auto;
	position: relative;
}

.slideshow_container_historical {
	display: none;
}

.slideshow_container_historical img {
    height: 100%;
    width: 100%
}

.slide_container img {
    height: 100%;
    width: 100%
}

.overlay_description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.slide_description {
    color: white;
    font-size: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.previous_slide_button, .next_slide_button {font-size: 11px}
}

/* Next & previous buttons */
.previous_slide_button, .next_slide_button, .previous_slide_button_historical, .next_slide_button_historical {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next_slide_button, .next_slide_button_historical {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous_slide_button:hover, .next_slide_button:hover, .previous_slide_button_historical, .next_slide_button_historical {
  background-color: rgba(0,0,0,0.8);
}

/* SLIDESHOW - END*/
