/* SLIDESHOW - START*/
/* Slideshow container */
.slideshow_container {
	width: 60%;
	height: 350px;
	margin: 0 auto;
}

.slide_container {
    position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.slide_container img {
    height: 100%;
    width: 100%
}

.overlay_description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 20%;
}

.slide_description {
    color: white;
    font-size: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

/* SLIDESHOW - END*/
