/**
 * @Author: Zaharia Laurentiu Jr Marius
 * @Date:   2017-11-30T09:27:10+01:00
 * @Email:  laurentiu.zaharia@edu.itspiemonte.it
 * @Project: WeatherStation
 * @Filename: style.css
 * @Last modified by:   Zaharia Laurentiu Jr Marius
 * @Last modified time: 2017-12-08T18:07:11+01:00
 */



* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}


#divHeader{
  color: #fff;
	background-color: #001f4d;
	height: 100px;
	padding-left: 10px;
	box-shadow: 0 5px 2px -2px gray;
}

#title{
	font-size: 60px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#filter{
	margin-top: 30px;
	padding-top: 10px;
	margin-left: 5%;
	width: 90%;
	color: #666;
	border-bottom: 1px solid grey;
	height: 70px;
	padding-left: 10px;
}


#div-station-name{
	float: left;
	margin-left: 15px;
	margin-right: 20px;
}

#input-station-name{
	margin-top: 5px;
	width: 120px;
	height: 20px;
}

#select-country{
	margin-top: 5px;
	width: 120px;
	height: 20px;
}

#divDate{
	margin-right: 100px;
	margin-top: -20px;
	float: right;
}

.main_accordion {
    display: none;
}

.nation_flag {
	width: 5%;
}

.accordion {
    margin: 25px auto;
	width: 90%;
    box-shadow: 1px 1px 5px gray;
	transition: 1s;
}

.accordion:hover {
	box-shadow: 1px 1px 5px black;
}

.header_accordion {
    background-color: #f9fcff;
    color: #666;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 2s;
}

.header_accordion.active, .header_accordion:hover {
    background-color: #edf4f9;
}

.weather_temperature{
	float: right;
}

.weather_icon{
    float: right;
    margin-top: -60px;
    width: 45px;
}

.body_accordion {
    padding: 0 9px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-out;
}

#loading {
  position: fixed;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #001f4d;
}

#loading-text {
  top: auto;
	color: white;
	font-size: 20px;
}

#loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin:  auto;
}
